.header {
  margin: 40px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

mat-card {
  padding: 40px;
}

.live {
  height: 20px;
}


.stats-grid {
    justify-content: center;
    align-content: center;
}

mat-card-subtitle {
  font-size: small;
}