<div class="parent">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Filter By</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="filter-contain">
        <mat-form-field>
          <mat-label>Dataset Filters</mat-label>
          <mat-select [(value)]="filter" (selectionChange)="onPaintFilter($event)">
            <mat-option value="confirmed">Confirmed Cases</mat-option>
            <mat-option value="deaths">Reported Deaths</mat-option>
            <mat-option value="recovered">Reported Recoveries</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="!loaded" class="loader">
    <mat-spinner></mat-spinner>
  </div>

  <mgl-map *ngIf="data" [style]="'mapbox://styles/mapbox/dark-v10'">
    <mgl-layer id="covid" type="heatmap" [source]="data" [paint]="paint"></mgl-layer>
    <mgl-layer id="covid-detail" type="circle" (click)="onClick($event)" [source]="data" [minzoom]="2" [paint]="{
      'circle-color': {
        'property': 'deaths',
        'type': 'exponential',
        'stops': [
          [0, 'rgba(236,222,239,0)'],
          [10, 'rgb(236,222,239)'],
          [20, 'rgb(208,209,230)'],
          [30, 'rgb(166,189,219)'],
          [40, 'rgb(103,169,207)'],
          [50, 'rgb(28,144,153)'],
          [60, 'rgb(1,108,89)']
        ]
      },
      'circle-stroke-color': 'white',
      'circle-stroke-width': 1,
      'circle-opacity': {
        'stops': [
          [14, 0],
          [15, 1]
        ]
      }
    }"></mgl-layer>
  </mgl-map>
</div>
<div class="info">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Dataset Info</mat-card-title>
      <mat-card-subtitle>Current dataset is fetched from {{ archiveName }} under schema {{ schemaName }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-form-field>
            <mat-label>Available Datasets</mat-label>
            <mat-select [(value)]="datasetType" (selectionChange)="onDatasetChange($event)">
              <mat-option value="covid">Worldwide (JSU dataset)</mat-option>
              <mat-option value="uscovid">United States (covidtracker.com dataset)</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
          Report upload timestamp: {{ reportDate }}
        </mat-list-item>
        <mat-list-item role="listitem">
          Report sender: {{ reporter }}
        </mat-list-item>
        <mat-list-item role="listitem">
          Current report hash: {{ reportHash }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
