<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button class="nav-button" mat-button>
        <img routerLink="/" class="logo" src="assets/ants-logo.png">
      </button></mat-toolbar>
    <mat-nav-list fxLayout="column" fxFlexAlign="left">
      <button mat-button routerLink="/maps">COVID-19</button>
      <button mat-button disabled>Open Data Viewer (coming soon)</button>
      <button mat-button disabled>Register as an Ant (coming soon)</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button class="nav-button" mat-button>
        <img routerLink="/" class="logo" src="assets/ants-logo.png">
      </button>
      <div class="right"></div>
      <div [ngClass]="{ hidden: (isHandset$ | async) }">
        <button mat-flat-button color="accent" routerLink="/maps">COVID-19</button>
        <button mat-flat-button disabled>Open Data Viewer (coming soon)</button>
        <button mat-flat-button disabled color="primary">Register as an Ant (coming soon)</button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
